# caches and scaffolding
.DS_Store
__pycache__
pyvenv.cfg

# virtual environment files 
**venv**
venv
tf_venv

# ignore big data files
data/sources/test/input_files.vcf.gz
data/sources/test/input_files.vcf.gz.tbi
data/sources/test/splink_toy_dataset.zip
data/sources/test/tiny-genomic-data.zip

**data/sources/*corpus*
data/sources/json/medium
data/sources/json/large

data/sources/1000GP/utility_eval.json
# large-pre-computed evals
**utility_eval.json

**checkpoints**
*.safetensors
*.pth
*.bin